
body {
  font-family:'Poppins', Arial, sans-serif; 
  background-color: #281387;       
  color: white;                    
  margin: 0;
  padding: 70px 20px;
  text-align: center; 
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: auto;
  padding: 20px;             
  border-radius: 20px;         
}


.card {
  background: #8070c9;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #5a3ed1; 

  /* PROPRIÉTÉ POUR L'EFFET NÉON (LUEUR) */
  box-shadow: none; 
    
    /* On garde la transition pour l'animation */
    transition: box-shadow 0.1s ease-in-out; 
}

/* 2. L'état de survol (HOVER) qui applique la lueur */
.card:hover {
    /* Le code box-shadow doit être correct */
    box-shadow: 
        0 0 5px #5a3ed1,   /* Lueur très proche */
        0 0 20px #5a3ed1,  /* Lueur moyenne */
        0 0 30px #5a3ed1;  /* Lueur intense */
}
h1 {
  margin: 100px 0px 23px; /* espace sous la nav fixe */
  font-size: 60px;
  position: relative;
  display: inline-block; 
  text-align: left;
}

h1::after {
content: "\2605"; /* Étoile */
font-size: 0.3em;
color: #f1de06; 
position: absolute;
top: 10px;
right: -30px;
animation: rotation 4s infinite linear reverse;
}

h1::before {
  content: "\2605"; /* Étoile */
  font-size: 0.3em;
  color: #f1de06; 
  position: absolute;
  top: 10px;
  left: -30px;
  animation: rotation 4s infinite linear reverse;

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  text-align: justify;
}


#contact p:nth-of-type(1),
#contact p:nth-of-type(2) {
  text-align: left;
}


#projets p:nth-of-type(1),
#projets p:nth-of-type(6),
#projets p:nth-of-type(10) {
    font-weight: bold; /* Texte en gras */
    font-size: 1.4em;  /* Police plus grande (ajustez 1.2em si besoin) */
    
    /* Style optionnel, pour distinguer davantage les titres */
    color: #281387; /* Couleur gris foncé */
    margin-top: 15px; /* Ajouter un peu d'espace avant chaque titre */
}

h2,
h2 + p {
  text-align: left; /* aligne les h2 à gauche */
  margin-top: 0; 
}





h3 {
  display: inline-block; 
  /* Centre le contenu par rapport au <body> qui a text-align: center; */
  text-align: center; 
  /* Réduit la marge pour le placer près du h1 */
  margin: 10px 0 20px; 
  font-size: 28px; 
}

img {
    width: 600px;
    height: auto;
    display: block;
    margin: 10px auto;
}

nav {
  position: fixed;          /* reste collé en haut */
  top: 0;               /* cachée au départ */
  left: 0;
  width: 100%;              /* prend toute la largeur */
  background-color: #111;   /* couleur */
  padding: 20px 40px;    
  transition: top 0.3s;     /* animation douce */
  z-index: 1000;            /* passe devant tout */

  display: flex;           /* rend nav flexible */
  justify-content: space-between; /* espace entre titre et liens */
  align-items: flex-start; /* aligne en haut */
  
}

nav h1 {
  font-size: 28px;   
  color: white;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}


nav a {
  color: #f9f9fb;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #281387;
}

body:hover nav {
  top: 0;
}

.barre {
  background: #281387; 
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  color: white;
}